
@{
    ViewData["Title"] = "Apply";
}


<div class="page-header" style="background: none;">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="breadcrumb-wrapper">
                    <div class="content display-3 text-center rounded" style="color: #00bcd4;background: #00bcd41a;">
                        You have applied successfully!
                        <a href="~/home/jobs" class="btn btn-common">Back to Jobs</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>