
@{
    ViewData["Title"] = "Apply";
}

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Application successful</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="page-header" style="background: none;padding-top: 9px;">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="breadcrumb-wrapper">
                    <div class="content display-3 text-center rounded" style="color: #00bcd4;background: #00bcd41a;padding: 37px 19px 27px 0px;border-radius: 42px !important;font-size: 43px;/* display: block; */">
                        You have applied successfully!
                        <br />
                        <a href="/home/jobs" class="btn btn-common" style="
">Back to Jobs</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>