@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-area">

    <div class="container p-0">
        <div class="row space-100">
            <div class="col-lg-7 col-md-12 col-xs-12">
                <div class="contents">
                    <h2 class="head-title">Find the job that fits your life</h2>
                   
                    <p>JobsAbility bridges the communication gap between job seeker and recruiter. <br /> With an accessible website and millions of job offers from all over the country, you are sure to find a job the suits your needs and wantings.</p>
                    <div class="job-search-form">
                        <form>
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-xs-12 text-center">
                                   
                                    <button class="btn btn-common log-btn userTypeBtn"><span text-index="6">Job Seeker</span></button>
                                </div>
                                <div class="col-lg-5 col-md-5 col-xs-12">
                                    
                                    <button class="btn btn-common log-btn userTypeBtn"><span text-index="6">Recruiter</span></button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-5 col-md-12 col-xs-12">
                <div class="intro-img"><img src="~/img/intro.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
<section class="category section bg-gray">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Browse Categories</h2>
            <p>Most popular categories of portal, sorted by popularity</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a href="browse-jobs.html">
                    <div class="icon bg-color-1"><i class="lni-home"></i></div>
                    <h3>Finance</h3>
                    <p>(4286 jobs)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a href="browse-jobs.html">
                    <div class="icon bg-color-2"><i class="lni-world"></i></div>
                    <h3>Sale/Markting</h3>
                    <p>(2000 jobs)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a href="browse-jobs.html">
                    <div class="icon bg-color-3"><i class="lni-book"></i></div>
                    <h3>Education/Training</h3>
                    <p>(1450 jobs)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a href="browse-jobs.html">
                    <div class="icon bg-color-4"><i class="lni-display"></i></div>
                    <h3>Technologies</h3>
                    <p>(5100 jobs)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a href="browse-jobs.html">
                    <div class="icon bg-color-5"><i class="lni-brush"></i></div>
                    <h3>Art/Design</h3>
                    <p>(5079 jobs)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a href="browse-jobs.html">
                    <div class="icon bg-color-6"><i class="lni-heart"></i></div>
                    <h3>Healthcare</h3>
                    <p>(3235 jobs)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a href="browse-jobs.html">
                    <div class="icon bg-color-7"><i class="lni lni-microscope"></i></div>
                    <h3>Science</h3>
                    <p>(1800 jobs)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12 f-category">
                <a href="browse-jobs.html">
                    <div class="icon bg-color-8"><i class="lni lni-dinner"></i></div>
                    <h3>Food Services</h3>
                    <p>(4286 jobs)</p>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="how-it-works section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">How It Works?</h2>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ellentesque dignissim quam et <br>metus effici turac fringilla lorem facilisis.</p>*@
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="work-process">
                    <span class="process-icon"><i class="lni-user"></i></span>
                    <h4>Create an Account</h4>
                    <p>Create an account with your information and resume to get started on finding the best job.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="work-process step-2">
                    <span class="process-icon"><i class="lni-search"></i></span>
                    <h4>Search Jobs</h4>
                    <p>Look through millions of job offers with ease and comfort, using our accessible technology and filters.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="work-process step-3">
                    <span class="process-icon"><i class="lni-cup"></i></span>
                    <h4>Apply</h4>
                    <p>Apply for the perfect job that suites your talents and easily communicate with the recruiter.</p>
                </div>
            </div>
        </div>
    </div>
</section>