@model List<JobsAbility.Models.JobDTO>
@{
    ViewData["Title"] = "Jobs";
}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-header">
                    <h3>Browse Jobs</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="job-browse section">
    <div class="container">
        <div class="row">

            <div class="col-3 job-listings">
                <div class="filter">
                    <p class="pb-3">
                        <span text-index="61">Filter By</span>
                        <i class="lni lni-chevron-down-circle" id="triggerAllOpen"></i>
                        <i class="lni lni-chevron-up-circle d-none" id="triggerAllClose"></i>
                    </p><span> </span>
                </div>
                <div class="filter-type pb-3 mt-3">
                    <div class="trigger">
                        <label class="filter-header">Choose Job Category</label>
                        <i class="lni lni-chevron-down mr-2 mt-1"></i>
                    </div>
                    <ul class="pl-2 mt-2 filter-submenu">
                        <li>
                            <label>
                                <input type="checkbox" />
                                Finance
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                Sale/Markting
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                Education/Training
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                Technologies
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                Art/Design
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                Healthcare
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                Science
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                Food Services
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="filter-type pb-3  mt-3">
                    <div class="trigger">
                        <label class="filter-header ">Choose Job Role</label>
                        <i class="lni lni-chevron-down mr-2 mt-1"></i>
                    </div>
                    <ul class="pl-2 mt-2 filter-submenu">
                        <li>
                            <label>
                                <input type="checkbox" />
                                Front-end Developer
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                Back-end Developer
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                .NET Developer
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="filter-type pb-3  mt-3">
                    <div class="trigger">
                        <label class="filter-header ">Choose Job Type</label>
                        <i class="lni lni-chevron-down mr-2 mt-1"></i>
                    </div>
                    <ul class="pl-2 mt-2  filter-submenu">
                        <li>
                            <label>
                                <input type="checkbox" />
                                Full-Time
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                Part-Time
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                Freelance
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="filter-type pb-3  mt-3">
                    <div class="trigger">
                        <label class="filter-header ">Choose Job Experience (years)</label>
                        <i class="lni lni-chevron-down mr-2 mt-1"></i>
                    </div>
                    <ul class="pl-2 mt-2  filter-submenu">
                        <li>
                            <label>
                                <input type="checkbox" />
                                0-1
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                1-2
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" />
                                2-3
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-xs-12">
                @foreach (var job in Model)
                {
                <a class="job-listings" href="~/home/jobdescription?id=@job.Id">
                    <div class="row mt-3 mb-3">
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <div class="job-company-logo"><img src="assets/img/features/img1.png" alt=""></div>
                            <div class="job-details text-center">
                                <h3 class="text-left">@job.Title</h3><span class="company-neme text-center">@job.Company</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12 text-center noPadding">
                            @if (job.isDeaf)
                            {
                                <span class="btn btn-circle">
                                    <i class="fas fa-deaf"><span class="d-none read-polly">Job targets deaf</span></i>
                                </span>
                            }
                            @if (job.isBlind)
                            {
                                <span class="btn btn-circle">
                                    <i class="far fa-eye-slash"><span class="d-none read-polly">Job targets low vision</span></i>
                                </span>
                            }
                            @if (job.isAll)
                            {
                                <span class="btn btn-circle">
                                    <i class="fas fa-ellipsis-h"><span class="d-none read-polly">Job targets other disabilites</span></i>
                                </span>
                            }
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12 text-right noPadding"><span class="btn-full-time">Full Time</span></div>
                        <div class="col-lg-4 col-md-2 col-xs-12 text-right"><span class="btn-apply">More Details..</span></div>
                    </div>
                </a>
                }
                
            </div>


            <div class="col-12">
                <ul class="pagination justify-content-center">
                    <li class="active"><a href="#" class="btn-prev"><i class="lni-angle-left"></i>prev</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="active"><a href="#" class="btn-next">Next <i class="lni-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".trigger").click(function () {
                obj = $(this).parent();
                ul = obj.find("ul");
                if ($(ul).hasClass("d-none")) {
                    $(ul).removeClass("d-none")
                }
                else {
                    $(ul).addClass("d-none")
                }
                icon = $(this).children("i")[0];
                if ($(icon).hasClass("lni-chevron-down")) {
                    $(icon).removeClass("lni-chevron-down")
                    $(icon).addClass("lni-chevron-up")
                }
                else {
                    $(icon).removeClass("lni-chevron-up")
                    $(icon).addClass("lni-chevron-down")
                }

            })

            //$("#triggerAllOpen").click(function () {

            //    $("#triggerAllOpen").addClass("d-none")
            //    $("#triggerAllClose").removeClass("d-none")
            //    $(".filter-submenu").removeClass("d-none")

            //})
            //$("#triggerAllClose").click(function () {

            //    $("#triggerAllClose").addClass("d-none")
            //    $("#triggerAllOpen").removeClass("d-none")
            //    $(".filter-submenu").addClass("d-none")


            //})
        })
        if (GetParam("polly") == "nouse") {
            openAllFilters();
        }
        function openAllFilters() {
            $(".trigger").each(function (i, j) {
                j.click();
            })
        }

    </script>
}