
@{
    ViewData["Title"] = "MyJobs";
}


@{
    ViewData["Title"] = "ManageApplicants";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-header">
                    <h3>Manage Jobs</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="job-alerts-item">
                    <h3 class="alerts-title text-center">My Jobs</h3>
                    <div class="alerts-list">
                        <span>
                        </span><div class="row">
                            <span>
                            </span><div class="col-lg-4 col-md-3 col-xs-12 text-center">
                                <span>
                                </span><p class="manageHeader" style="padding-right: 34px;"><span text-index="6">Position</span></p><span>
                                </span>
                            </div><span>
                            </span><div class="col-lg-2 col-md-3 col-xs-12">
                                <span>
                                </span><p class="manageHeader"><span text-index="7">Company</span></p><span>
                                </span>
                            </div><span>
                            </span><div class="col-lg-1 col-md-3 col-xs-12">
                                <span>
                                </span><p class="manageHeader"><span text-index="8">Date</span></p><span>
                                </span>
                            </div><span>
                            </span><div class="col-lg-2 col-md-3 col-xs-12 text-center">
                                <span>
                                </span><p class="manageHeader"><span text-index="9">Status</span></p><span>
                                </span>
                            </div><span>
                            </span><div class="col-lg-3 col-md-3 col-xs-12 text-center">
                                <span>
                                </span><p class="manageHeader"><span text-index="10">Options</span></p><span>
                                </span>
                            </div><span>
                            </span>
                        </div><span>
                        </span>
                    </div>

                    <div class="applications-content myJobs">
                        <div class="row">
                            <div class="col-11 applicantInfo">
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <h3 class="ApplicantName">Designer</h3>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-xs-12 text-center noPadding ApplicantDisability">
                                        <p>PlantInc</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>Nov 15th, 2018</p>
                                    </div>
                                    <div class="col-md-2" style="padding-left: 27px;">
                                        <p>Rejected</p>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-common log-btn contactApplicantBtn"><span text-index="6">Job Details</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 EditApplicant">

                                <span class="btn btn-circle RemoveFromMyJobs">
                                    <i class="lni lni-trash"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="applications-content myJobs">
                        <div class="row">
                            <div class="col-11 applicantInfo">
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <h3 class="ApplicantName">UX Design</h3>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-xs-12 text-center noPadding ApplicantDisability">
                                        <p>TechInc</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>Jun 20th, 2019</p>
                                    </div>
                                    <div class="col-md-2" style="padding-left: 27px;">
                                        <p>Proccessing</p>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-common log-btn contactApplicantBtn"><span text-index="6">Job Details</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 EditApplicant">

                                <span class="btn btn-circle RemoveFromMyJobs">
                                    <i class="lni lni-trash"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="applications-content myJobs">
                        <div class="row">
                            <div class="col-11 applicantInfo">
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <h3 class="ApplicantName">Instructor</h3>
                                    </div>
                                    <div class="col-lg-2 col-md-4 col-xs-12 text-center noPadding ApplicantDisability">
                                        <p>Mof School</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>Aug 25th, 2020</p>
                                    </div>
                                    <div class="col-md-2" style="padding-left: 27px;">
                                        <p>Accepted</p>
                                    </div>
                                    <div class="col-md-2">
                                        <button class="btn btn-common log-btn contactApplicantBtn"><span text-index="6">Job Details</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1 EditApplicant">
                               
                                <span class="btn btn-circle RemoveFromMyJobs">
                                    <i class="lni lni-trash"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <ul class="pagination justify-content-center mt-4">
                        <li class="active"><a href="#" class="btn-prev"><i class="lni-angle-left"></i>prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li class="active"><a href="#" class="btn-next">Next <i class="lni-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

