
@{
    ViewData["Title"] = "MRI";
}

<h1>MRI</h1>
<p>this is just a sample test please tell</p>
<p>If you liked the translation service</p>
@section Scripts{
    <script src="https://mindrocketsapis.com/web/client/Latest/jquery.js"></script>

    <script src="https://mindrocketsapis.com/web/client/Latest/jquery.cookie.js"></script>

    <!-- you can remove the above if you already included JQuery and cookie plugin -->

    <script src="https://mindrocketsapis.com/web/client/Latest/toolkit.js"></script>

    <script src="https://mindrocketsapis.com/web/client/Latest/signsplayer.js"></script>

    <script src="https://mindrocketsapis.com/web/client/Latest/tooltip_add.js"></script>

    <script src="https://mindrocketsapis.com/web/client/amramazon/integrator.js"></script>

    <!-- Make sure that the last script “integrator.js” is loaded after JQuery and it is recommended to be the last loaded script -->
}