<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Landing page, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Grayrids">
    <title>@ViewData["Title"] - JobsAbility</title>

    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>

    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/editor.css">

    <link rel="stylesheet" href="~/css/line-icons.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.css">
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/Styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
</head>
<body>
    <header id="home" class="hero-area">
        <nav id="displayBar" class="navbar navbar-expand-lg fixed-top scrolling-navbar">
            <div class="container">
                <div class="theme-header clearfix">
                    <div class="navbar-header">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span><span class="lni-menu"></span><span class="lni-menu"></span><span class="lni-menu"></span></button>
                        <a href="index.html" class="navbar-brand"><img src="~/img/logo.png" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse" id="main-navbar">
                        <ul class="navbar-nav mr-auto w-100 justify-content-end">
                            <li class="nav-item dropdown active">
                                <a class="nav-link dropdown-toggle" href="#" aria-haspopup="true" aria-expanded="false">Home</a>
                            </li>
                         
                            <li class="nav-item"><a class="nav-link" href="login.html">Sign In</a></li>
                            <li class="button-group mx-1">
                                <a class="button btn btn-common py-1 px-3" href="javascript:void(0)" id="deaf">
                                </a>
                            </li>
                            <li class="button-group mx-1">
                                <a class="button btn btn-common px-3" href="javascript:void(0)" style="padding: 7px;">
                                    <div style="margin:5px">
                                        <span id="pollyPlaying" > <i class="fas fa-low-vision" > </i > For Low Vision</span >
                                        <span id="pollyStop" style="display:none;" > <i class="fas fa-stop-circle"></i> Stop</span >
                                    </div>
                                    
                                    
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mobile-menu" data-logo="~/img/logo-mobile.png"></div>
        </nav>
    </header>
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div style="display:none" id="audioDiv"></div>

    <script src="~/js/jquery-min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.js"></script>
    <script src="~/js/main.js"></script>
    @* mri code starts *@
    <script src="https://mindrocketsapis.com/web/client/Latest/jquery.js"></script>

    <script src="https://mindrocketsapis.com/web/client/Latest/jquery.cookie.js"></script>

    <!-- you can remove the above if you already included JQuery and cookie plugin -->

    <script src="https://mindrocketsapis.com/web/client/Latest/toolkit.js"></script>

    <script src="https://mindrocketsapis.com/web/client/Latest/signsplayer.js"></script>

    <script src="https://mindrocketsapis.com/web/client/Latest/tooltip_add.js"></script>

    <script src="https://mindrocketsapis.com/web/client/amramazon/integrator.js"></script>

    @* mri code ends *@

    <script src="~/js/TextToSpeech.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
